@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.inter-Inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

nav{
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5vw;
    display: flex;
    width: 100vw;
    position: fixed;
    background-color: black;
    height: 10vh;
    align-items: center;
    z-index: 2;
}

#logo{
    height: 8vh;
    width: auto;
    margin-left: 2vw;
}

#final{
    width: 86vw;
    height: auto;
    margin-right: 1.5vw;
    display: flex;
    align-items: center;    
    justify-content: right;
}

ul,li{
    margin: 1.5vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

button{
    width: 8.5vw;
    height: 4vh;
    font-family: Inter;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 50px;
    margin: 1vw;
    text-align: center;
    align-items: center;
}

#login{
    color: white;
    background-color: black;
    border-color: #f9e8b2;
    border-style: solid;
    border-width: 0.1vw;
}

#registro{
    background-color: #f9e8b2;
    border-style: none;
}

a{
    color: white;
    text-decoration: none;
}

#unete{
    background-image: url("recursos/musculito.png");
    background-size: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: Inter;
    font-size: 4vw;
    height: 54.2vw;
    width: 100vw;
    margin-top: 10vh;
}

#primer{
    margin: 1vw;
    font-weight: 400;
    color: white;
}

#segunda{
    color: #f9e8b2;
    font-weight: bolder;
}

#aboutus{
    background-image: url(recursos/mancuerna.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 25%;
    font-family: Inter;
    background-color: black;
    display: inline;
    width: 100vw;
    height: 50vh;
    justify-content: left;
    justify-items: center;
    align-items: center;
}

#aboutTitulo{
    font-size: 1.8vw;
    margin-top: 15vh;
    font-weight: bold;  
    margin-left: 2vw;
    color: #f9e8b2;
}

#aboutContenido{
    font-size: 1vw;
    display: flex;
    margin-left: 2vw;
    text-align: left;
    width: 70%;
    color: white;
}